.card {
  width: 100%;
  height: 50%;
  background-color: black;
}

.img {
  height: 25%;
  width: 15%;
  border-radius: 25px;
  float: left;
}
.userName {
  position: relative;
  left: 50px;
  font-size: 75px;
  color: white;
}

.summery {
  position: relative;
  left: 25px;
  font-size: 25px;
  color: white;
}
