.Div {
  border-radius: 20px;
  height: 580px;
  width: 100%;
  background-color: black;
}

.img {
  position: relative;
  left: 30px;
  top: 30px;
  float: left;
  height: 40%;
  width: 20%;
  border-radius: 25px;
  min-width: 200px;
  min-height: 200px;
}
.join {
  color: white;
  position: relative;
  left: 50px;
}

.userName {
  position: relative;
  top: 30px;
  text-align: center;
  font-size: 75px;
  color: white;
}

.summary {
  position: relative;
  left: 200px;
  font-size: 20px;
  color: white;
  max-width: 70%;
  min-width: 50%;
}
