.Div {
  height: 500px;
  width: 100%;
  background-color: black;
}

.img {
  float: left;
  height: 40%;
  width: 20%;
  border-radius: 25px;
  min-width: 200px;
  min-height: 200px;
}
.userName {
  text-align: center;
  font-size: 75px;
  color: white;
}

.summary {
  font-size: 20px;
  color: white;
  max-width: 70%;
  min-width: 50%;
}
