h1 {
   position: relative;
   left: 50%;    
}
.month {
    left: 53%;
}
.Year {
    left: 52%;
}
table {
    width: 600px;   
    height: 300px; 
    position: relative;
    left: 33%;
    border-collapse: collapse;
    
}
td { 
    width: 100px;   
    border: 1px solid black;
    width: 30px;
    text-align: center;
}
.nameMonth {
   background-color: aquamarine;
}
