.BodyNav {
  height: 80px;
  width: 100%;
  background-color: #9757ea;
  border-radius: 15px;
}

.oneButton {
  position: relative;
  left: 30%;
  float: left;
  font-size: 30px;
}

.twoButton {
  float: left;
}
