.head {
  height: 60px;
  width: 100%;
  background-color: #1e0b97;
  border: 3px solid #3f25e3;
}

.search {
  position: absolute;
  left: 45%;
  top: 30px;
}

.searchImg {
  position: relative;
  top: 17px;
  left: 42%;
}

.left {
  min-height: 88vh;
  height: 70vh;
  width: 37%;
  background-color: #c7c6c6;
  float: left;
}

.right {
  position: relative;
  left: 82%;
  width: 18%;
  min-height: 88vh;
  height: 88vh;
  background-color: #c7c6c6;
}
