.h3 {
  position: absolute;
  top: 65px;
  font-size: 5px;
  left: 41%;
}

.plus {
  position: relative;
  top: 65px;
  left: 37%;
  cursor: pointer;
  float: left;
}

.add {
  position: relative;
  left: 39%;
  top: 66px;
  font-size: 20px;
}

.textInput {
  position: relative;
  left: 38%;
  top: 66px;
  float: left;
}

.dateInput {
  position: relative;
  left: 38%;
  top: 66px;
}
