.head {
  height: 60px;
  width: 100%;
  background-color: #df1b1b;
  border: 3px solid #df1b1b;
}

.search {
  position: absolute;
  left: 45%;
  top: 30px;
}
.list {
  position: relative;
  top: 5px;
  left: 26px;
  float: left;
}

.searchImg {
  position: relative;
  top: 17px;
  left: 42%;
  float: left;
  cursor: pointer;
}
.plus {
  position: relative;
  top: 6px;
  left: 60%;
  cursor: pointer;
}
.trash {
  position: relative;
  left: 63%;
  top: 6px;
  cursor: pointer;
}

.left {
  min-height: 88vh;
  height: 70vh;
  width: 37%;
  background-color: #c7c6c6;
  float: left;
}

.right {
  position: absolute;
  left: 80%;
  width: 19.8%;
  min-height: 88vh;
  height: 88vh;
  background-color: #c7c6c6;
}

.center {
  position: absolute;
  left: 37%;
  height: 88vh;
  width: 44%;
  background-color: #fefefe;
}
.today {
  position: relative;
  left: 250px;
  font-size: 30px;
}
.DayinMonth {
  position: relative;
  left: 240px;
}

.miniPlus {
  position: relative;
  top: 10px;
  left: 10px;
}
