.BodyNav {
  height: 80px;
  width: 100%;
  background-color: #9757ea;
  border-radius: 35px;
}

.oneButton {
  position: relative;
  top: 10px;
  left: 20%;
  float: left;
  font-size: 50px;
  cursor: pointer;
  color: #88fee3;
}

.twoButton {
  position: relative;
  top: 10px;
  left: 30%;
  float: left;
  font-size: 50px;
  cursor: pointer;
  color: #88fee3;
}

.treeButton {
  position: relative;
  top: 10px;
  left: 40%;
  float: left;
  font-size: 50px;
  cursor: pointer;
  color: #88fee3;
}
.BodyDiv {
  width: 100%;
}

.CenterDiv {
  position: relative;
  left: 35%;
}
